{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>	
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<meta name="author" content="Kyoungran Kang(kyoungrankang@gmail.com)">		
    <title>React Django Boilerplate</title>
		<!-- Font -->
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
 		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div id="root"></div>
    {% render_bundle 'main' %}
  </body>
</html>
